@import '../theme/color.scss';
:host() {
    display: flex;
    flex-flow: column;
    flex: 1 0 auto;
    header {
        height: 50px;
        background-color: $c3;
        display: flex;
        flex-flow: column;
        justify-content: center;
    }
    .primery-header {
        display: flex;
        flex-flow: row;
    }
    .brand {
        flex: 1 0 auto;
        padding: 0 5px;
    }
    .nav {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
    }
    nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        a {
            padding: 2px 5px;
        }
    }
    .main {
        display: flex;
        flex-flow: row;
        flex: 1 0 auto;
        .sidebar {
            width: 70px;
            background-color: $c2;
            display: flex;
            flex-flow: column;
            .menu-link {
                &:hover {
                    background-color: #44558E;
                }
                display: flex;
                height: 50px;
                font-size: 28px;
                color: #fff;
                a {
                    flex: 1 0 auto;
                    color: #FFF;
                    display: flex;
                    flex-flow: column;
                    justify-content: center;
                    align-items: center
                }
            }
        }
        .main-content {
            display: flex;
            flex-flow: column;
            flex: 1 0 auto;
            padding: 5px;
            box-sizing: border-box;
        }
    }
}
