<header>
  <div class="primery-header">
    <div class="brand">

      <h3> <i class="fas fa-igloo"></i> Kanban App</h3>
    </div>
    <div class="nav">
      <!-- <nav>
        <a>HOME</a>
        <a>ABOUT</a>
        <a>CONTACT</a>
      </nav> -->
    </div>
  </div>


</header>
<div class="main">
  <div class="sidebar">
    <div class="menu-link">
      <a href=""><i class="fas fa-home"></i></a>
    </div>
    <div class="menu-link">
      <a href=""><i class="fas fa-home"></i></a>
    </div>

  </div>
  <div class="main-content">
    <p>Main Content start from here</p>
  </div>

</div>
<footer></footer>
